.footer {
  background: #4c1b77;
  color: #fff;
  padding: 40px 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  max-width: 1400px;
  margin: 0 auto;
}
.footer-brand {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo img
{
  width: 250px;
  margin-bottom: -2rem;
  margin-top: -3rem;
  object-fit: contain;
  cursor: pointer;
}

.brand-text p {
  font-size: 14px;
  color: #d8d8d8;
  line-height: 1.8;
  max-width: 320px;
}
.socials-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.icons-box {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.icons-box:hover {
  background: white;
  color: #4c1b77;
  transform: translateY(-3px);
}

.footerp {
  margin-top: 20px;
  font-size: 13px;
  color: #d8d8d8;
}
.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-col h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-col a {
  color: #d8d8d8;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-col a:hover {
  color: white;
  padding-left: 5px;
}

.footer-col p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #d8d8d8;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.5;
}
.divider {
  width: 2px;
  background: rgba(255,255,255,0.2);
  min-height: 250px;
}
@media (max-width: 992px) {
  .footer-container {
    flex-wrap: wrap;
  }

  .divider {
    display: none;
  }

  .footer-brand {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-col {
    min-width: 220px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-brand {
    justify-content: flex-start;

    align-items: center;
    text-align: center;
  }

  .brand-text p {
    max-width: 100%;
  }

  .socials-icons {
    justify-content: center;
  }

  .footer-col {
    width: 100%;
    
  }

  .footer-col h4 {
    margin-bottom: 10px;
  }

  .footer-col a,
  .footer-col p {
    font-size: 14px;
  }

  .footer-logo {
    width: 220px;
  }
}